.s-title {
  color: var(--color-second);
  font-size: torem(26);
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
}
.s-description {
  color: var(--color-second);
  font-size: torem(16);
  line-height: 130%;
}

